body{
    font-family: sans-serif;
    padding: 0px;
    margin: 0px;
}

.top{
    display: flex;
   
    align-items: center;
  color: black;

    background-color: pink;
    padding: 16px; 

    
}

.top>div:nth-child(1){
    width: 60%;
    color:black;
    margin-left: 80px;
    
}

.top>div:nth-child(2){
    width: 40%;
    display: flex;
    justify-content: space-evenly;
    color:black
}


