body{
    margin: 0;
    padding: 0;
    background: url(pexels-freestocksorg-457701.jpg);
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}
.main{
    display: flex;
    justify-content: space-evenly;
}

.div2{
    width: 50%;
    background-color: gray;
}



.login-box{
    width: 50%;
    height: 500px;
    background: rgba(255, 192, 203, 0.201);
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 50px 30px;
}
.avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}
h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
    color: #f30d56;

}
.login-box p{
    margin: 0;
    padding: 0;
    font-weight: bold;
    color: #f30d56;
}
.login-box input{
    width: 100%;
    margin-bottom: 20px;
}
.login-box input[type="text"], input[type="password"] ,input[type="email"],input[type = "Number"]
{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}
.login-box input[type="submit"]
{
    border: none;
    outline: none;
    height: 40px;
    background: #f30d56;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}
.login-box input[type="submit"]:hover
{
    cursor: pointer;
    background: pink;
    color: #000;
}

.login-box input[placeholder]
{
    color : #f30d56;
    font-size: 20px;
    
}

.login-box a{
    text-decoration: none;
    font-size: 14px;
    color: #fff;
}
.login-box a:hover
{
    color: pink;
}






























































